body {
	background: #333;
	padding-top: 20px !important;
	font-family: 'Handlee', cursive;
	font-size: 21px;
}

.postcard-main {
	background: #fff;
	display: inline-block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 500px;
	height: 360px;
	margin: auto;
	padding: 15px;
}

.postcard-header h1 {
	margin: 0px;
	font-size: 35px;
}

.postcard-body-left-part {
	float: left;
	width: 50%;
}

.postcard-body-right-part {
	float: right;
	width: 50%;
	margin-top: 25px;
}

.postcard-body-right-part input {
	display: block;
	font-size: 18px;
	font-family: 'Handlee', cursive;
}

.postcard-body-right-part textarea:focus,
input:focus {
	outline: none;
}

#buttonClick:hover {
	background-color: #a7a6a6;
}

.postcard-body-right-part input[type='text'],
input[type='email'] {
	border: none;
	border-bottom: 1px solid gray;
	margin-bottom: 15px;
	padding: 8px;
	width: 240px;
}

.postcard-footer button[type='submit'] {
	border: none;
	font-size: 18px;
	font-family: 'Handlee', cursive;
	background: #c6c6c6;
	font-weight: bold;
	border-bottom: 1px solid gray;
	outline: none;
}

.postcard-header {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

.postcard-header img {
	max-width: 60px;
	float: right;
}

.postcard-body {
	overflow: hidden;
}

.postcard-footer {
	padding: 10px;
	text-align: center;
}
